<h1>Statistics</h1>
<ul>
  <li>Most Valuable Actor: <%= Actor.max_movies %></li>
  <li>Most Popular Genre: <%= Genre.most_popular %></li>
  <li>Film with highest revenue <%= Movie.max_revenue %></li>
  <li>Greatest Movie: <%= Movie.greatest_movie %></li>
</ul>

<%= link_to 'Back', root_path %>
